!!! 5
%html
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/css/lightbox.css")
    %link(rel="stylesheet" href="/css/app.css")
    %script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

  %body
    .container
      =yield


    %script(src="/js/lightbox.min.js")
    %script(var switchTo5x=true)
    %script(src="http://w.sharethis.com/button/buttons.js")
    :javascript
      stLight.options({publisher: "75baebc3-69a0-4bd1-b49e-3da545d1c77f", doNotHash: false, doNotCopy: false, hashAddressBar: false});